body {
	background-color: white;
	font-family: 'Roboto', sans-serif;
}

#drawing {
	background-color: limegreen;
	width: 100%;
	
	-webkit-transition: background-color 500ms ease-in;
	-moz-transition: background-color 500ms ease-in;
	-o-transition: background-color 500ms ease-in;
	transition: background-color 500ms ease-in;
}

#logodiv {
	text-align: center;
}

#logo {
	width: 60%;
}
