body {
	background-color: white;
	font-family: 'Roboto', sans-serif;
}

div {
	display: inline-block;
}

#drawingcontainer {
	width: 50%;
}

#textcontainer {
	position: absolute;
	width: 45%;
}

#textcontainer p {
	margin: 30px 50px 0px 30px;
	text-align: justify;
}


#drawing {
	background-color: limegreen;
	width: 100%;
	
	-webkit-transition: background-color 500ms ease-in;
	-moz-transition: background-color 500ms ease-in;
	-o-transition: background-color 500ms ease-in;
	transition: background-color 500ms ease-in;
}
